<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="main.android.appioninc.ionviewer" android:installLocation="auto" android:versionCode="113" android:versionName="0.9.11">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="23" />
	<uses-feature android:name="android.hardware.bluetooth" android:required="true" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<application android:label="ION HVAC/R" android:debuggable="false" android:allowBackup="true" android:largeHeap="true" android:icon="@drawable/ic_logo_appiondefault_small" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
</manifest>